@import '~mdb-ui-kit/css/mdb.min.css';

.navbar-nav{
padding-left: 60% !important;
}


.modal-open .modal{
    background-image: url("http://prod-upp-image-read.ft.com/7727a7f2-3da4-11e8-b9f9-de94fa33a81e");
}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
.starx{
  visibility: hidden;
  font-family: 20px;
  cursor: pointer;
  font-size: 15px;
  position: relative;

}
.starx:before{
  content: "\274C";
  position: absolut;
  visibility: visible;
}
.stary{
  visibility: hidden;
  font-family: 20px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
 
  
}
.stary:before{
  content: "\2705";
  position: absolut;
  visibility: visible;
}

/* #input[type="file"] {
	display: none;
}
.label{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.image-upload{
  margin: auto;
  width: 200px;
	height: 50px;
  color: black;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  cursor: pointer;
} */
.c-avatar-img:hover{
  transform: scale(5);
  cursor: zoom-in;

}
.error{
  color: red;
  font-size: 14px;
  font-family:cursive;
}
.showmore{
  margin-left: 50%;
}
#displaymore{
  background: blue;
  color: white;
  box-shadow: 5px;
  border-radius: 2%;
}